body {
    background-color: #000000;
}

.logo {
    width: 32vw;
    height: 32vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0;
    
}

.presents {
    font-size: 8px;
    color: #ffffff;
}

#menu {
    font-size: 8px;
    color: #ffffff;
    text-align: center;
    opacity: 1;
    font-size: 1.5rem;
    opacity: 0;
}


header {
    text-align: center;
    padding: 16px;
    background-color: #15222a;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #15222a;
    color: #cccccc;
}

.contents {
    opacity: 0;
}