body {
    background-color: #000000;
}

.logo {
    width: 16vw;
    height: 16vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0;
    
}

.presents {
    font-size: 8px;
    color: #ffffff;
}

